<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">

  <h2>Mude Sua Senha</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control", :placeholder => "Nova Senha" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirme nova senha" %>
    </div>

    <%= f.submit "Mudar Senha", :class => "btn btn-danger" %>
  <% end %>

  </div>
</div>